.topBar {
  height: 100%;
  width: 100%;
  top: 0;
  position: sticky;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
}
.topBarTitleLeft {
  height: 100%;
  width: 100%;
  flex: 3;
}
.topBarTitle {
  height: 100%;
  width: 100%;
  flex: 6;
}
.topBarTitleItem {
  margin-left: 70px;
  padding: 10px;
}
.topBarTitle {
  width: 100%;
  height: 100%;
  position: relative;
}
.topBarCart {
  width: 100%;
  width: 100%;
  flex: 3;
  margin-left: 20px;
}
.topBarCartItem {
  font-size: 20px;
  display: flex;
  padding: 10px 30px;
  border-radius: 15px;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: width 2s;
  background-image: linear-gradient(orangered, orange);
}
.topBarCartItem:hover {
  width: 230px;
  background-image: linear-gradient(orange, orangered);
}
.topInputItem {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border-radius: 10px;
  border: none;
}
.topBarListItem {
  list-style: none;
  display: flex;
  padding: 10px;
}
.topBarListItems {
  margin-right: 20px;
  cursor: pointer;
}
.topCart {
  margin-right: 15px;
}
.aTop {
  color: inherit;
  text-decoration: none;
}
